<!DOCTYPE html>
<html>
  <head>
    <title>self made</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body style="text-align: center" id="body">
    <h1 style="color: red">Kevin</h1>
    <table>
      <tbody>
        <% list.forEach(function(user){ %>
        <tr>
          <td><%= user.name %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
